@model ModelBindingSecureString.Controllers.ViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <p>帳號：</p>
    <p><input asp-for="Account"></p>
    <p>密碼：</p>
    <p><input asp-for="Password" value=""></p>
    <button type="submit">送出</button>
</form>
